<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LoadDesignNameServlet</servlet-name>
        <servlet-class>heps.db.naming.servlet.LoadDesignNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadLocationServlet</servlet-name>
        <servlet-class>heps.db.naming.servlet.LoadLocationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadSubsystemServlet</servlet-name>
        <servlet-class>heps.db.naming.servlet.LoadSubsystemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadSystemServlet</servlet-name>
        <servlet-class>heps.db.naming.servlet.LoadSystemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadHServlet</servlet-name>
        <servlet-class>heps.db.naming.servlet.UploadHServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListFileServlet</servlet-name>
        <servlet-class>heps.db.naming.servlet.ListFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryDeviceServlet</servlet-name>
        <servlet-class>heps.db.naming.servlet.QueryDeviceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeviceResultServlet</servlet-name>
        <servlet-class>heps.db.naming.servlet.DeviceResultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetChineseServlet</servlet-name>
        <servlet-class>heps.db.naming.servlet.SetChineseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetDeviceServlet</servlet-name>
        <servlet-class>heps.db.naming.servlet.SetDeviceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetEnglishServlet</servlet-name>
        <servlet-class>heps.db.naming.servlet.SetEnglishServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetItemServlet</servlet-name>
        <servlet-class>heps.db.naming.servlet.SetItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetSystemServlet</servlet-name>
        <servlet-class>heps.db.naming.servlet.SetSystemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDeviceServlet</servlet-name>
        <servlet-class>heps.db.naming.servlet.AddDeviceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFileServlet</servlet-name>
        <servlet-class>heps.db.naming.servlet.DeleteFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDeviceServlet</servlet-name>
        <servlet-class>heps.db.naming.servlet.EditDeviceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDeviceServlet</servlet-name>
        <servlet-class>heps.db.naming.servlet.UpdateDeviceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDeviceServlet</servlet-name>
        <servlet-class>heps.db.naming.servlet.DeleteDeviceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadDesignNameServlet</servlet-name>
        <url-pattern>/LoadDesignNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadLocationServlet</servlet-name>
        <url-pattern>/LoadLocationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadSubsystemServlet</servlet-name>
        <url-pattern>/LoadSubsystemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadSystemServlet</servlet-name>
        <url-pattern>/LoadSystemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadHServlet</servlet-name>
        <url-pattern>/UploadHServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListFileServlet</servlet-name>
        <url-pattern>/ListFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryDeviceServlet</servlet-name>
        <url-pattern>/QueryDeviceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeviceResultServlet</servlet-name>
        <url-pattern>/DeviceResultServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetChineseServlet</servlet-name>
        <url-pattern>/SetChineseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetDeviceServlet</servlet-name>
        <url-pattern>/SetDeviceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetEnglishServlet</servlet-name>
        <url-pattern>/SetEnglishServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetItemServlet</servlet-name>
        <url-pattern>/SetItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetSystemServlet</servlet-name>
        <url-pattern>/SetSystemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDeviceServlet</servlet-name>
        <url-pattern>/AddDeviceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFileServlet</servlet-name>
        <url-pattern>/DeleteFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDeviceServlet</servlet-name>
        <url-pattern>/EditDeviceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDeviceServlet</servlet-name>
        <url-pattern>/UpdateDeviceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDeviceServlet</servlet-name>
        <url-pattern>/DeleteDeviceServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>　</description>
        <res-ref-name>NamingDatasource</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
